/* Header section styles */
.header-container {
  background-color: #eff1f2;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.header-container h1 {
  font-size: 24px;
  color: #000000;
  margin: 0 0 10px;
}

.header-container p {
  font-size: 16px;
  color: #000000;
  margin: 0;
  word-wrap: break-word;
}

/* Loading and error messages */
.loading,
.error {
  font-size: 1.2em;
  text-align: center;
  margin: 20px;
}

.error {
  color: red;
}

.table-container {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the table with vertical scrolling */
.scroll-container {
  max-height: calc(100vh - 350px);
  overflow-y: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  table-layout: fixed;
}

.details-table th,
.details-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

/* Header styling */
.details-table th {
  background-color: #004ea8;
  color: #ffffff;
  font-weight: bold;
}

/* Row styling */
.details-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.details-table tbody tr:hover {
  background-color: #e9ecef;
}

/* Column widths to achieve desired layout */
.details-table th:nth-child(1),
.details-table td:nth-child(1) {
  width: 5%; /* Width for "Status" */
}

.details-table th:nth-child(2),
.details-table td:nth-child(2) {
  width: 75%; /* Width for "Date Checked" */
}

.details-table th:nth-child(3),
.details-table td:nth-child(3) {
  width: 20%; /* Width for "Actions" */
}

/* Circle indicators */
.green-circle,
.red-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.green-circle {
  background-color: green;
}

.red-circle {
  background-color: red;
}

/* Button styling */
.details-table .btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;
}

.details-table .btn img {
  width: 24px;
  height: 24px;
}

.details-table .status-cell {
  text-align: center;
  vertical-align: middle;
}
