/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container Styling */
.registration-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

/* Form Label Styling */
.registration-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Form Input Styling */
.registration-form input {
  margin-bottom: 5px; /* Reduced margin */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Form Error Message Styling */
.error-message {
  color: red;
  font-size: 0.875em;
  margin: 0; /* Removed top margin */
  margin-bottom: 15px;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

/* Button Styling */
.registration-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px; /* Added margin to separate button from the form */
}

.registration-form button:hover {
  background-color: #0056b3;
}

/* Heading Styling */
h1 {
  margin-bottom: 20px;
  text-align: center;
}
