<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="logo-container">
        <img
          class="footer-logo"
          src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjl1MHcxM25jZXl3aWhkcnhyaWJoNHBnZzl0OXFqMnZia2hwZXY0biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/l49JZ1oF2qHawdmzm/giphy.webp"
          alt="Company Logo"
        />
      </div>
      <div class="footer-info">
        <p class="company-info">Healthy Endpoints</p>
      </div>
    </div>
  </div>
</footer>
