/* edit-user-modal.component.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 400px; /* Consistent width with other modals */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  box-sizing: border-box; /* Ensure padding is included in width */
}

h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: calc(100% - 12px); /* Adjust width for consistent padding */
  padding: 6px; /* Reduced padding for a shorter input field */
  border: 1px solid #ddd;
  font-size: 14px; /* Consistent font size */
  box-sizing: border-box; /* Ensure padding is included in width */
}

input[type="checkbox"] {
  margin-right: 10px; /* Add spacing for checkbox */
}

input[type="text"].invalid,
input[type="email"].invalid,
select.invalid {
  border-color: #f00;
}

.error-message {
  color: #f00;
  font-size: 12px;
  margin-top: 5px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Consistent gap with other modals */
  margin-top: 20px;
}

/* Button styling */
button {
  padding: 10px 15px; /* Consistent padding with other modals */
  border: none;
  color: #fff;
  background-color: #004ea8; /* Blue color */
  cursor: pointer;
  font-size: 14px; /* Consistent font size */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Button hover effect */
button:hover {
  background-color: #1182cf; /* Light blue on hover */
}

/* Disabled button styling */
button[disabled] {
  background-color: #62737e; /* Gray background for disabled state */
  cursor: not-allowed; /* Show a not-allowed cursor */
}

/* Specific button for cancel */
button[type="button"] {
  background-color: #004ea8; /* Ensure type="button" has the same color */
}

button[type="button"]:hover {
  background-color: #1182cf; /* Light blue on hover for cancel button */
}
