<ul class="item-list">
  <li *ngFor="let url of urls" class="item">
    <div class="item-content">
      <div class="item-info">
        <span class="item-name">{{ url?.urlName || "Unnamed" }}</span>
        <span class="item-url">
          <a [href]="url?.fullUrl || '#'">{{ url?.fullUrl || "No URL" }}</a>
        </span>
        <span
          class="item-health"
          [ngClass]="{
            'green-circle': url?.urlHealth === true,
            'red-circle': url?.urlHealth === false
          }"
        ></span>
      </div>
      <div class="item-actions" *ngIf="isLoggedIn">
        <button class="btn" (click)="openEditUrlModal(url)">Edit</button>
        <button class="btn" (click)="deleteUrl(url.urlId)">Delete</button>
      </div>
    </div>
  </li>
</ul>

<button class="btn add-button" *ngIf="isLoggedIn" (click)="openAddUrlModal()">
  Add
</button>

<app-add-url-modal
  *ngIf="showAddUrlModal"
  (close)="closeAddUrlModal()"
  (urlAdded)="onUrlAdded()"
></app-add-url-modal>

<app-edit-url-modal
  *ngIf="showEditUrlModal && currentUrl"
  [url]="currentUrl"
  (close)="closeEditUrlModal()"
  (urlUpdated)="onUrlUpdated($event)"
></app-edit-url-modal>
