.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.details-container,
.history-container {
  display: flex;
  flex-direction: column;
}

.details-section,
.history-section {
  background-color: #eff1f2;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.header-container {
  background-color: #004ea8;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-container h2 {
  margin: 0;
  font-size: 18px;
}

.content-container {
  padding: 5px;
  padding-top: 50px;
}

.details-content p,
.history-text p {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details-content a {
  color: #007bff;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details-content a:hover {
  text-decoration: underline;
}

.status-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  margin-left: 5px;
  vertical-align: middle;
}

.healthy {
  background-color: #28a745;
}

.unhealthy {
  background-color: #dc3545;
}

.history-section {
  min-width: 250px;
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.history-log {
  border-top: 1px solid #ddd;
  padding: 5px 0;
}

.history-log:first-of-type {
  border-top: none;
}

.history-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.status-wrapper {
  display: flex;
  align-items: center;
}

.status-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.healthy-circle {
  background-color: #28a745;
}

.unhealthy-circle {
  background-color: #dc3545;
}

.date-wrapper {
  display: flex;
  align-items: center;
}

.no-history {
  text-align: center;
  font-size: 1.2em;
  color: #6c757d;
}

.loading {
  text-align: center;
  font-size: 1.2em;
  color: #6c757d;
}
