<div class="login-container">
  <div class="logo-container">
    <img
      src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjl1MHcxM25jZXl3aWhkcnhyaWJoNHBnZzl0OXFqMnZia2hwZXY0biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/l49JZ1oF2qHawdmzm/giphy.webp"
      alt="Logo"
      class="logo"
    />
  </div>
  <h1>Login</h1>
  <form
    class="login-form"
    #loginForm="ngForm"
    (ngSubmit)="loginForm.valid && loginUser()"
  >
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        [(ngModel)]="loginUserData.username"
        name="username"
        type="text"
        id="username"
        required
        #username="ngModel"
        [class.invalid]="
          username.invalid && (username.dirty || username.touched)
        "
      />
      <div
        *ngIf="username.invalid && (username.dirty || username.touched)"
        class="error-message"
      >
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        [(ngModel)]="loginUserData.password"
        name="password"
        type="password"
        id="password"
        required
        #password="ngModel"
        [class.invalid]="
          password.invalid && (password.dirty || password.touched)
        "
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="error-message"
      >
        Password is required.
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
