<div class="table-container">
  <div class="header-container">
    <button class="btn add-button" (click)="openAddUserModal()">
      Add User
    </button>
  </div>

  <!-- Container for the table with vertical scrolling -->
  <div class="scroll-container">
    <table class="url-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Enabled</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.enabled ? "Yes" : "No" }}</td>
          <td>
            <button class="btn edit-button" (click)="openEditUserModal(user)">
              <img src="assets/icons/edit.png" alt="Edit" />
            </button>

            <button class="btn delete-button" (click)="deleteUser(user.id)">
              <img src="assets/icons/delete.png" alt="Delete" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Add User Modal -->
  <app-add-user-modal
    *ngIf="showAddUserModal"
    (close)="closeAddUserModal()"
    (userAdded)="getAllUsers()"
  ></app-add-user-modal>

  <!-- Edit User Modal -->
  <app-edit-user-modal
    *ngIf="showEditUserModal && selectedUser"
    [user]="selectedUser"
    (close)="closeEditUserModal()"
    (userUpdated)="handleUserUpdated($event)"
  ></app-edit-user-modal>
</div>
