/* Styles for table container and scrolling */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.add-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: #004ea8;
  color: #ffffff;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  border: none;
  font-weight: bold;
}

.add-button:hover {
  background-color: #1182cf;
}

.add-button img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Styles for table and buttons */
.scroll-container {
  max-height: calc(100vh - 275px);
  overflow-y: auto;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.url-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

.url-table th,
.url-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url-table th {
  background-color: #004ea8;
  color: #ffffff;
  font-weight: bold;
}

.url-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.url-table tbody tr:hover {
  background-color: #e9ecef;
}

.url-table td a {
  color: #007bff;
  text-decoration: none;
}

.url-table td a:hover {
  text-decoration: underline;
}

/* Button styling */
.url-table .btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;
}

.url-table .btn img {
  width: 24px;
  height: 24px;
}
